.signup_header{margin-top:64px;font-size:30px;font-weight:400;margin-left:57px;}
.main_signupform{margin-top:38px;margin-left:57px;}
.email{width:90%;height:72px;border: 1px solid #000000;font-size:24px;}
.fname{width:90%;height:72px;border: 1px solid #000000;font-size:24px;}
.lname{width:90%;height:72px;border: 1px solid #000000;font-size:24px;}
.pass{width:90%;height:72px;border: 1px solid #000000;font-size:24px;}
.cpass{width:90%;height:72px;border: 1px solid #000000;font-size:24px;}
.submit{width:208px;height:56px;background:black;color:white;font-size:24px;
    margin-bottom:20px;}
